<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<body>

<div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form th:action="@{/login}" method="post">
        <label for="username">Usuario:</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Entrar</button>
    </form>

    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
</div>

</body>
</html>
